.mapper {
  max-width: 42rem;
  height: auto;
  margin: auto;
}

p {
  margin-top: 10px;
  color: #282c34;
}

.title {
  margin-bottom: 0 !important;
  padding-bottom: 2px;
  margin-top: 0;
  text-align: start;
  color: #282c34;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.6;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  margin-top: 15px;
  align-items: center;
  text-align: left;
}

.flankStateTxt {
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.canvas {
  position: relative;
}

@media (max-width: 576px) { /* extra small devices xs */
  .canvas {
    min-height: 200px;
  }
}
@media (min-width: 576px) { /* small devices sm */
  .canvas {
    min-height: 300px;
  }
}
@media (min-width: 768px) { /* medium devices md */
  .canvas {
    min-height: 420px;
  }
}

.turnBtn {
  width: 50px;
  padding: 3px;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #e2e8f0;
  border-radius: 4px !important;
  transition: all 0.3s ease 0s;
}

.turnBtn:hover {
  background-color: #2195f317;
  border-color: #2196f3;
}

.turnIcon {
  height: 22px;
  transition: all 0.3s ease 0s;
}