.mapper {
  height: auto;
  margin: auto;
}

p {
  margin-top: 10px;
  color: #282c34;
}

.title {
  margin-bottom: 0 !important;
  padding-bottom: 2px;
  margin-top: 0;
  text-align: start;
  color: #282c34;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.6;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  margin-top: 15px;
  align-items: center;
  text-align: left;
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
} 
